@charset "utf-8";
/*************************************************************************************************
	Reset
*************************************************************************************************/
html, body {height:100%;font-weight:300;} 
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,hr,figure,menu,p,pre,fieldset,legend,button {margin:0;padding:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,p,blockquote,th,td,header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption,form,fieldset,legend,select,input,textarea,span, strong, a, button {-webkit-word-break:keep-all;word-break:keep-all;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;}
address,cite,em,dfn,i {font-style:inherit;}
h1,h2,h3,h4,h5,h6,th,strong,b {font-size:inherit;font-weight:inherit;}
select,button,input,textarea {font-family:inherit;font-size:inherit;vertical-align:middle;}
legend,fieldset {border:none;}
textarea {resize:none;}
table {border-collapse:collapse;border-spacing:0;width:100%;table-layout:fixed;}
caption,legend {width:0;height:0;font-size:0;line-height:0;visibility:hidden;}
ul,ol,li {list-style:none;}

img {display:block;border:none;}
a,button {color:inherit;-webkit-appearance:none;}
button {background:transparent;border:none;cursor:pointer;}
a,a:link,a:visited,a:active {color:inherit;text-decoration:none;}
a:hover {color:inherit;}

/*************************************************************************************************
	컴포넌트 정의
*************************************************************************************************/
ul:after, ol:after {content:"";display:block;clear:both;visibility:hidden;height:0;} /* float 해제 적용 */

.ellipsis {display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;} /* 글씨 말줄임 정의 */
.ellipsisRow {display:block;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;overflow:hidden;height:32px;line-height:16px;} /* 2줄 말줄임 (폰트사이즈가 12로 가정할 때) */
.ellipsisRow03 {display:block;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:3;-webkit-box-orient:vertical;word-wrap:break-word;overflow:hidden;} /* 3줄 말줄임 */
.essential:before {content:"*";margin-left:3px;color:#c00c3f;vertical-align:middle;} /* 필수입력 항목 */
.blind {position:absolute;top:0;left:0;overflow:hidden;width:0;height:0;font-size:0;line-height:0;} /* 영역 숨김 정의 */
.clfix:after {content:"";display:block;clear:both;visibility:hidden;height:0;} /* float 해제 정의 */

/* 스킵네비게이션 */
#skipnavi {}
#skipnavi a {display:block;position:absolute;top:-1000px;left:0;width:100%;height:1px;color:#222;overflow:hidden;z-index:99999999;}
#skipnavi a:focus, #skipnavi a:hover, #skipnavi a:active {top:0px;left:0;background-color:#e9e9e9;padding:7px 0 5px;height:auto;color:#000;text-align:center;text-decoration:none;}

/*************************************************************************************************
	box 스타일 정의
*************************************************************************************************/
.inlind {display:inline;}
.inlindBlock {display:inline-block;}
.block {display:block;}

/*************************************************************************************************
	input 스타일 정의
*************************************************************************************************/
input[disabled="disabled"], .disabled, input[disabled="disabled"]:focus, .disabled:focus {opacity:1;}
input[readonly="readonly"], .readonly, input[readonly="readonly"]:focus, .readonly:focus {}
input[type=text]::-ms-clear, input[type=text]::-ms-reveal {display:none;height:0;width:0;} /* clear button 삭제 */
::-webkit-input-placeholder {color:#999999;} /* Chrome/Opera/Safari */
::-moz-placeholder {color:#999999;opacity:1;} /* Firefox 19+ */
:-moz-placeholder {color:#999999;opacity:1;} /* Firefox 18- */
.inputTxt:-ms-input-placeholder, .textArea:-ms-input-placeholder {color:#999999;} /* IE 10+ */

/*************************************************************************************************
	공통 old school
*************************************************************************************************/
.bd-none{border:none !important;}